html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: cursive;
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
}

h3{
    font-size: 2rem;
}

.Posts{
    display: flex;
}

.First {
    border: 0.5rem solid black;
    flex: 33%;
  padding: 5px;
}

.one{
   height: 22.5rem;
}

.uno{
    font-size: 2rem;
    text-align: center;
}

.Second{
    border: 0.5rem solid black;
    flex: 33%;
    padding: 5px;
}

.two{
    height: 22.5rem;
}

.dos{
    font-size: 2rem;
    text-align: center;
}

.Third{
    border: 0.5rem solid black;
    flex: 33%;
  padding: 5px;
}

.three{
    height: 22.5rem;
}

.tres{
    font-size: 2rem;
    text-align: center;
}